@page "/case"
@using Microsoft.AspNetCore.Authorization
@using QdaoCaseManager.Shared.Entites
@attribute [Authorize]
@rendermode InteractiveAuto

<PageTitle>Case</PageTitle>

<h1>Case</h1>
<p>This component demonstrates CRUD operation on case data</p>
@code {
}