@inherits LayoutComponentBase
@layout AccountLayout

<h4>Manage your account</h4>

<div>
    <hr />
    <ManageNavMenu />
    <hr />
    <br />
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
